$sky: #8ddbe8;
$royal: #21409a;
$green: #008f6b;

$colors: (
  white: #fff,
  sky: $sky,
  royal: $royal,
  gray: #9f9f9f,
  gray-light: #f3f3f3,
  gray-medium: #e7e7e7,
  gray-dark: #666,
  text: mix($royal, #aaa, 20%),
  text-dark: #334,
  text-light: rgba($sky, .52),
  body: #f8f8f8,
  border: rgba($sky, .2),
  green: $green,
  green-dark: darken($green, 10%),
  danger: #ff5200,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}